body {
  background-color: rgb(236, 236, 236);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(102, 102, 102);
  padding: 40px;
}

input, select {
  width: 220px;
  height: 30px;
  margin-bottom: 20px;
}

textarea {
  width: 220px;
  margin-bottom: 20px;
}